.logo-text {
    font-size: 3rem;
    display: inline-block;
}

header {
    margin-top: 1rem;
}

.navigation-links {
    color: grey;
    font-size: 2rem;
    margin-top: .5rem;
    float: right;
}

.navigation-links span {
    padding: 1rem;
}

.main {
    clear: both;
    margin: 5rem;
    font-size: 3rem;
    text-align: center;
}

body {
    background-color: #fff;
}

.date {
    color: grey;
    text-align: center;
    margin: .5rem 0
}

.follow-button {
    border: none;
    text-align: center;
    color: white;
    background-color: #3399ff;
    padding: .3rem 1rem;
    margin-bottom: 2rem;
    
}

.body-text {
    width: 75%;
    margin-left: 15%;
    margin-right: auto;
}